@font-face {
    font-family: 'ArialRounded';
    font-weight: bold;
    src: url("../../components/fonts/arlrdbd.ttf") format('truetype');
}
@font-face {
    font-family: 'MyriadPro';
    src: url("../../components/fonts/myriadpro-light.otf") format('opentype');
}
#parragraphUs{
    margin: 0;
    padding: 0;
}
.backColor6{
    background-color: rgb(226, 206, 179);
    max-width: 100%;
    width: 100vw;
    min-height: 105vh;
    padding-top: 0.8rem;
  
}
.backColor6UsMore{
    background-color: rgb(226, 206, 179);
    max-width: 100%;
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.aroundUs{
    width: 90vw;
    padding: 1rem;
    background-color: #e7eaee;
    border-radius: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;

}

.imgUs{
    width: 75vw;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}
.titleUs{
    font-family: "ArialRounded", sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    padding: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.textUs{
    color: #000;
    text-align: left;
    font-family: 'MyriadPro', sans-serif;
    margin: 0 auto;
}

.moreLess{
    font-family: "ArialRounded", sans-serif;
    text-decoration: none;
    color: grey;
    font-weight: 700;
    text-align: center;
    font-size: 0.8rem;
}
.linkContainer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

    @media (min-width: 359px){
        .backColor6{
            min-height: 95vh;
            display: flex;
            align-items: center;
        }

    }
    

    @media (min-width: 411px){
        .backColor6{
            min-height: 85vh;
        }


        
    }  /* CIERRE MEDIA QUERIE 411 NO BORRAR!   */


@media (min-width: 768px){

    .imgUs{
        margin-left: auto;
        margin-right: auto;
    }
    .aroundUs{
        padding-top: 2rem;
        padding: 2rem;
    }

}  /* CIERRE MEDIA QUERIE 768 NO BORRAR!   */

@media (min-width: 819px){

    .aroundUs{
        width: 70vw;
    }
    .imgUs{
        width: 62vw;
    }


    .imgUs{
        margin-left: auto;
        margin-right: auto;
    }
  
}  /* CIERRE MEDIA QUERIE 819 NO BORRAR!   */

@media (min-width: 1024px){

    .backColor6{
        height: 180vh;    
        padding-top: 3rem;
        display: block;
    }
    .aroundUs{
        padding: 4rem;
        width: 75vw;
    }
    .textUs{
        text-align: left;
        font-size: 1rem;

    }
    .titleUs{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .imgUs{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}  /* CIERRE MEDIA QUERIE 1024 NO BORRAR!   */

@media (min-width: 1279px){

    .backColor6{
        height: 140vh;    
        padding-top: 3rem;
    }
    .aroundUs{
        padding-top: 3rem;
        width: 75vw;
    }
    .textUs{
        text-align: left;
        font-size: 1rem;
 
    }
    .titleUs{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .imgUs{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}  /* CIERRE MEDIA QUERIE 1279 NO BORRAR!   */
@media (min-width: 1360px){
    .titleUs{
        font-size: 1.4rem;
        font-weight: 700;
    }
    .backColor6{
        height: 170vh;    
        padding-top: 3rem;
    }
    .aroundUs{
        padding-top: 1rem;
        width: 60vw;
    }
    .imgUs{
        width: 50vw;
        padding-top: 2rem;
    }
  
}  /* CIERRE MEDIA QUERIE 1360 NO BORRAR!   */