@font-face {
    font-family: 'ArialRounded';
    font-weight: bold;
    src: url("../../components/fonts/arlrdbd.ttf") format('truetype');
}
@font-face {
    font-family: 'MyriadPro';
    src: url("../../components/fonts/myriadpro-light.otf") format('opentype');
}
.titleStudies{
    text-align: center;
    margin-top: 0.8rem;
    font-family: "ArialRounded", sans-serif;
}
.logoIndStudies{
    width: 2rem;
    margin-left: 7px;
    margin-right: 7px;
}
.logosStudies{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.backStudies{
    background-image: linear-gradient(rgba(255,255,255, 0.4),rgba(255,255,255, 0.4)), url("/images/fondoS.jpg");
    max-width: 100%;
    width: 100vw;
    background-size: cover;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.aroundStudies{
    border-radius: 1rem;
    padding: 1rem;
   
    background-image: linear-gradient(rgba(205,174,127,0.4), rgba(205,174,127,0.4));
    width: 90vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.areaLink{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 80vw;
    
}
.linkStudies{
    background-color: #e7eaee;
    padding: 1.3rem;
    border-radius: 2rem;
    display: block; /* Para que el ancho se aplique correctamente */
    width: 100%; /* Establecer el ancho al 100% */
    text-align: center; /* Centrar el texto dentro del enlace */
    margin-bottom: 1rem; 
    font-size: 0.7rem;
    font-family: "ArialRounded", sans-serif;
}

@media (min-width: 389px){
    .backStudies{
        height: 78vh;
    }

    
.titleStudies{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.logosStudies{

    margin-top: 2rem;
}
    
}  /* CIERRE MEDIA QUERIE 389px NO BORRAR!   */



@media (min-width: 412px){
  
    
.titleStudies{

    margin-top: 3rem;
    margin-bottom: 3rem;
}
.logosStudies{

    margin-top: 2rem;
}
    
}  /* CIERRE MEDIA QUERIE 414px NO BORRAR!   */

@media (min-width: 540px){
    .backStudies{
        max-width: 100%;
        width: 100vw;
    }
    .aroundStudies{

        width: 65vw;
        padding: 2rem;
    }
    
.titleStudies{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logosStudies{
    margin-top: 4rem;
}
.linkStudies{
    width: 70%; 
    text-align: center; 
    margin-bottom: 1rem; 
    font-size: 1rem;
    
}
}
@media (min-width: 768px){
    .backStudies{
        overflow-x: hidden;
        max-width: 100vw;
    }
    .aroundStudies{

        width: 65vw;
        padding: 2rem;
    }
    
.titleStudies{
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.logosStudies{
    margin-top: 4rem;
}
.linkStudies{
    width: 70%; 
    text-align: center; 
    margin-bottom: 1rem; 
    font-size: 1rem;
    
}
.logoIndStudies{
    width: 3rem;
    margin-left: 7px;
    margin-right: 7px;
}
}  /* CIERRE MEDIA QUERIE 768 NO BORRAR!   */

@media (min-width: 820px){
    .backStudies{
        width: 100vw;
        max-width: 100%;
    }
    .aroundStudies{

        width: 65vw;
        padding: 2rem;
    }
}  /* CIERRE MEDIA QUERIE 820 NO BORRAR!   */

@media (min-width: 912px){
    .backStudies{
        width: 100vw;
        max-width: 100%;
        height: 90vh;
    }
    .aroundStudies{

        width: 65vw;
        padding: 2rem;
        margin-top: 4rem;
    }
    .titleStudies{
        margin-top: 5rem;
        font-size: 2rem;
    }
}  /* CIERRE MEDIA QUERIE 912 NO BORRAR!   */
@media (min-width: 1024px){
    .backStudiesBig{
        background-image: linear-gradient(rgba(255,255,255, 0.4),rgba(255,255,255, 0.4)), url("/images/fondoB.jpg");
        background-size: cover;
        max-width: 100%;
        width: 100vw;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .aroundStudies{
        width: 40vw;
        padding: 2rem;

    }
    .titleStudies{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }
    .linkStudies{
        padding: 1rem;
        width: 43%;

        font-size: 0.7rem;
        font-weight: 600;
    }
    .areaLink{
        margin-top: 0.5rem;


    }
    .logoIndStudies{
        width: 2.5rem;
    }
    .logosStudies{
        margin-top: 1rem;
    }
}  /* CIERRE MEDIA QUERIE 1024 NO BORRAR!   */

@media (min-width: 1279px){
    .backStudiesBig{
        max-width: 100%;
        width: 100vw;
        min-height: 90vh;
        overflow-x: hidden;
    }
    .aroundStudies{

        width: 37vw;
        padding: 2rem;

    }
    .titleStudies{
        margin-top: 2.8rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }
    .linkStudies{
        padding: 1rem;
        width: 40%;
        font-size: 0.7rem;
        font-weight: 600;
    }

    .logoIndStudies{
        width: 2.5rem;
    }
    .logosStudies{
        margin-top: 1.9rem;
    }
}  /* CIERRE MEDIA QUERIE 1279 NO BORRAR!   */

@media (min-width: 1360px){
    .backStudiesBig{
        overflow-x: hidden;
        padding-bottom: 5rem;
    }
    .aroundStudies{
        width: 32vw;
    }
    .titleStudies{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }
    .linkStudies{
        padding: 1rem;
        width: 35%;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .logoIndStudies{
        width: 2.5rem;
    }
    .logosStudies{
        margin-top: 1rem;
    }
}