@font-face {
    font-family: 'ArialRounded';
    font-weight: bold;
    src: url("../../components/fonts/arlrdbd.ttf") format('truetype');
}
@font-face {
    font-family: 'MyriadPro';
    src: url("../../components/fonts/myriadpro-light.otf") format('opentype');
}
.backColorSuplie{
    background-color: rgb(226, 206, 179);
    max-width: 100%;
    width: 100vw;
    padding-bottom: 2rem;
    padding-top: 1rem;
    min-height: 90vh;
}


.aroundSuplie{
    width: 95vw;
    padding: 1rem;
    background-color: #e7eaee;
    border-radius: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.imgSuplie{
    width: 82vw;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}
.aroundImgSuplie{
    margin-left: auto;
    margin-right: auto;
}
.titleSuplie{
    font-size: 1.2rem;
    text-align: center;
    padding: 0.3rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    font-family: "ArialRounded", sans-serif;
}
.textSuplie{
    font-size: 0.8rem;
    color: black;
    text-justify: initial;
    font-family: "MyriadPro", sans-serif;
}
.textWhatsSuplie{
    font-size: 0.8rem;
    text-align: center;
    padding: 0.6rem;

    font-family: "ArialRounded", sans-serif;
}

.logoWhatsSuplie{
    width: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.whatsAreaSuplie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  @media (min-width: 359px){
        .backColorSuplie{
            padding-top: 2rem;
        }
        .imgSuplie{
            width: 85vw;
        }
    }
    @media (min-width: 390px){
        .backColorSuplie{
            padding-top: 3rem;
            min-height: 90vh;
        }

    }
    @media (min-width: 412px){
        .backColorSuplie{
            min-height: 85vh;
            padding-top: 4rem;
        }


    }  
    @media (min-width: 539px){
    
        .backColorSuplie{
            padding-top: 3rem;
        }


    }

@media (min-width: 768px){

    .backColorSuplie{

        padding-top: 4rem;
    }
    .aroundSuplie{
        padding-top: 2rem;
    }
    .imgSuplie{
        width: 78vw;
        margin-top: 1rem;
    }
    

}  

 @media (min-width: 819px){

   
    .aroundSuplie{
        width: 80vw;
        
        
    }
    .imgSuplie{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }


  
}
@media (min-width: 912px){

    .imgSuplie{
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }


  
}  

@media (min-width: 1024px){

    .backColorSuplie{

        padding-top: 1rem;
    }
    .aroundSuplie{

        width: 70vw;

    }
    .textWhatsSuplie{
        font-size: 1rem;
        text-align: center;
        padding: 0.6rem;
        font-weight: 600;
    }
    .textSuplie{
        text-align: left;
        font-size: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .titleSuplie{
        font-size: 1.3rem;
        font-weight: 700;
        margin-left: 2rem;
    }
    .imgSuplie{
        width: 55vw;
    }
    .logoWhatsSuplie{

        width: 3.4rem;
    }
}  

 @media (min-width: 1279px){

    .backColorSuplie{
   
        padding-top: 1rem;
    }
    .aroundSuplie{
        width: 70vw;
    }
    .textSuplie{
        text-align: left;
        font-size: 1.1rem;
    }
    .titleSuplie{
        font-size: 1.4rem;
        font-weight: 700;
    }
    .imgSuplie{
        width: 62vw;
    }
    .logoWhatsSuplie{
        width: 3.6rem;
        padding-top: 1rem;
    }
    .textWhatsSuplie{
        font-size: 1rem;
        text-align: center;
        padding: 0.6rem;
        font-weight: 600;
    }
}  
@media (min-width: 1360px){

    .backColorSuplie {   
        padding-top: 1rem;
    }
    .aroundSuplie {
        width: 56vw;
    }
    .imgSuplie {
        width: 43vw; 
        margin-bottom: 0.5rem; 
    }
    .logoWhatsSuplie {
        width: 4rem;
    }
    .titleSuplie {
        font-size: 1.4rem;
    }
} 