@font-face {
    font-family: 'ArialRounded';
    font-weight: bold;
    src: url("../../components/fonts/arlrdbd.ttf") format('truetype');
}
@font-face {
    font-family: 'MyriadPro';
    src: url("../../components//fonts/myriadpro-light.otf") format('opentype');
}
.backg{
    background-color:  rgb(206,174,127);
    max-width: 100%;
    width: 100vw;
    overflow: hidden;
    height: 18rem;
}

.iconoOdonto{
    width: 3.8rem;
    padding: 0.5rem;
}

.vertical{
    height: 2px; 
    width: 20vh;
    background-color: rgb(255,252,253);
    margin-top: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8rem;
}

.first{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    margin-top: 1.4rem;
    margin-left: auto;
    margin-right: auto;

}

.title{
    margin-top: 0.7rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: rgb(255,252,253);
    font-family: "ArialRounded", sans-serif;
}
.infoText{
    padding: 1rem;
}
.textP{
    padding: 0.2rem;
    line-height: 0.3;
    text-align: center;
    color: rgb(255,252,253);
    font-family: "MyriadPro", sans-serif;
    font-size: 0.9rem;
}


@media (min-width: 768px){
.backg{
    height: 14rem;
    max-width: 100%;
    width: 100vw;
}

.grid-container{
    display: grid;
    grid-template-columns: 56% 4% 40%;
}

.iconoOdonto{
    width: 5rem;
    margin-right: auto;
}

.vertical{
    width: 2px; 
    height: 12vh;
    margin-top: auto;
   
}

.second{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.title{
    margin-top: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
}
.textP{
    padding: 0.2rem;
    line-height: 0.3;
    font-size: 1rem;
}


}  /* CIERRE MEDIA QUERIE 768 NO BORRAR!   */


@media (min-width: 1024px){
    
    .iconoOdonto{
        width: 5rem;
    }
    
    .title{
        margin-top: 0.5rem;
        font-size: 1.4rem;
        font-weight: 600;
    }
    .textP{
        padding: 0.2rem;
        line-height: 0.3;
        font-size: 1.2rem;
    }
    .vertical{
        width: 2px; 
        height: 17vh;
        margin-top: auto;
       
    }
 
}  /* CIERRE MEDIA QUERIE 1024 NO BORRAR!   */